/* ~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid white;
    height: 135px;
} 

.cristian-div{
    display: block;
    width: 98%;
    
}

h1{
    background-color: rgb(0,19,34);
    border-radius: 23px;
    margin: 0;
    align-items: center;
    text-align: center;
    font-size: 55px;
    width: 100%;
    padding: 30px;
}

.cristian-div :hover {
    background-color: aqua;
    color: rgb(0, 19, 34);
    padding: 30px;
    padding-right: 20px;
    transition-duration: .35s;
}

/* ~~~~~~~~~~~~~~~~~~~~BODY~~~~~~~~~~~~~~~~~~~~*/

body {
    background-color:rgb(0, 27, 59);
    color: white;
    font-family: sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}
/*--------------------Left-Body--------------------*/
.sobremi{
    display: flex;
    background-color: rgb(0, 63, 110);
    border-radius: 20px;
    padding: 30px;
    border: 10px;
}

.body-text{
    background-color: rgb(0, 14, 26);
    width: 60%;
    align-items: center;
    font-size: 30px;
}

h2{
    color: aqua;
    background-color: rgb(0, 14, 26);
    padding: 20px;
    border-bottom: 1px solid white;
}

p{
    color: white;
    font-size: 20px;
    padding: 40px;
    border-bottom: 1px solid white;
}

span{
    text-decoration: underline;
    font-size: 25px;
    padding: 30px;
}
/*--------------------Right-Body--------------------*/
.right-body{
    display: block;
    justify-content: center;
}

.body-img{
    background-color: rgb(0, 27, 59);
    width: auto;
    display: block;
    padding: 80px;
}

img{
    border-radius: 30%;
    width: 500px;
    height: 500px;
    max-width: 100%;
    justify-content: center;
}

.head-links{
    background-color: rgb(0, 14, 26);
    padding: 5px;
    display: block;
    padding-bottom: 20px;
    /*width: auto;*/
}

#contacto{
    background-color: rgb(0, 27, 59);
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

a{
    display: block;
    text-align: center;
    color: aqua;
    font-size: 30px;
    align-items: center;
    padding: 5px;
}

a:hover{
    background-color: rgb(0, 27, 59);
    color: white;
    border-radius: 10px;
    transition-duration: .5s;
}