header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid white;
    height: 90px;
} 

.cristian-div{
    display: block;
    padding-left: 5%;
    width: 50%;
}

h1{
    margin: 0;
    align-items: center;
    text-align: center;
    font-size: 50px;
    width: 100%;
    padding: 15px;
}

.cristian-div :hover {
    background-color: rgb(0,19,34);
    color: white;
    padding: 20px;
    border-radius: 23px;
    transition-duration: .35s;
}

.head-links{
    display: block;
    justify-content: right;
    width: auto;
}

a{
    display: block;
    text-align: center;
    color: aqua;
    font-size: 20px;
    align-items: center;
    padding: 10px;
}

a:hover{
    background-color: rgb(0, 19, 34);
    color: white;
    border-radius: 10px;
    transition-duration: .5s;
}

body {
background-color:rgb(0, 56, 119);
color: white;
font-family: sans-serif;
padding: 15px;
}

.sobremi{
    display: flex;
    background-color: rgb(0,19,34);
    border-radius: 20px;
    justify-content: center;
}

.body-text{
    background-color: rgb(0, 99, 99);
    width: 60%;
    align-items: center;
    padding: 20px;
    font-size: 25px;
}
.body-img{
padding: 20px;
}